@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6bwgfo');
  src:  url('../fonts/icomoon.eot?6bwgfo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6bwgfo') format('truetype'),
    url('../fonts/icomoon.woff?6bwgfo') format('woff'),
    url('../fonts/icomoon.svg?6bwgfo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: black;
  font-size: 2rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adjust:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
